.App {
  padding-left: 2vw;
  padding-right: 2vw;
  background: #fafafa;
  text-align: center;
  height:100vh;
}


.header {
  margin-bottom: 25px;
height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #545454;
}

.notesLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100vw;
  /* height: 100%; */
}

.leftContainer {
  /* height: 100%; */
  width: 33%;
}

.noteEditorContainer {
  width: 66%;
  /* height: 100%; */
}